@media only screen and (max-width: 768px) {

.page-main .container header {
    width: 83%;
    text-align: center;
    margin: 85px auto 0 auto;
}

.page-main .container header h1 {
    font-size: 24px;
}

.page-main .container .description {
    width: 83%;
    text-align: center;
    margin: 0 auto 76px auto;
}

.page-main .container .description p {
    font-size: 15px;
}

.page-main .container .cards {
    flex-direction: column;
    width: 83%;
}

.page-main .container .cards .section1 {
    margin: 0 auto 25px auto;
    width: 100%;
}

.page-main .container .cards .section2 {
    margin: 0 auto 25px auto;
    width: 100%;
}

.page-main .container .cards .section2 .card1 {
    width: 100%;
}

.page-main .container .cards .section2 .card2 {
    width: 100%;
}

.page-main .container .cards .section3 {
    margin: 0 auto 25px auto;
    width: 100%;
}

.container .section1 p, .container .card1 p, .container .card2 p, .container .section3 p {
    font-size: 13px;
}

.container .section1 img, .container .card1 img, .container .card2 img, .container .section3 img {
    width: 57px;
    padding: 0 28px 28px 0;
}

}